@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

* {
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    max-width: 410px;
    background: #EEEEEE;    
}

header {
    background: #CF2B2B;
    height: 92px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 21px;
    position: sticky;
    top: 0;
    width: 414px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
header > h1 {
    font-family: 'Righteous', cursive;
    font-size: 44px;
    color: #FFFFFF;
    margin-bottom: 5px;
}

header > h2 {
    font-size: 18px;
    color: #FFFFFF;
}

section {
    width: 100%;
    height: 1000px;
    padding-left: 19px;
    padding-top: 31px;
    overflow: hidden;
}
.label {
    font-family: 'Righteous';
    font-size: 26px;
    margin-bottom: 17px;
}
.pratos , .bebidas , .sobremesas{
    display: flex;
    width: fit-content;
    margin-bottom: 27px;
}

.box-wrap {
    width: 172px;
    height: 216px;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 16px;
    border-radius: 9px;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
    
}
img{
    width: 144px;
    height: 87px;
    margin-bottom: 10px;
}
.info{
    width: 144px;    
}
h4{
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 8px;
}
p{
    font-weight: 300;
    font-size: 15px;
    margin-bottom: 10px;
    width: 147px;
}
h5{
    font-weight: 400;
    font-size: 16px;
}
footer {
    position: fixed;
    bottom: 0px;
    width: 414px;
    height: 92px;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;

}
.msg-selecionar {
    background: #CBCBCB;
    width: 364px;
    height: 61px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 23px;
}
.fechar-pedido {
    background: #32B72F;
    width: 364px;
    height: 61px;
    border-radius: 50px;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;

}

h6 {
    font-size: 20px;
    color: #FFFFFF;
}